* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}


header {
  background-color: #333;
  padding: 10px 0;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .brand {
  font-size: 32px;
  text-decoration: none;
  color: white
}

nav ul {
  display: flex;
  list-style: none;
}

/* Page User */
nav ul#user_info {
  display: none;
}

/* Page User */

nav ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  min-width: 50px;
  margin: 0 5px;
  padding: 5px;
}


/* ==============>>> Form <<<================= */

.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  background: #bc6ff1;
  padding: 20px;
}

.section-form h2 {
  font-size: 30px;
  letter-spacing: 2px;
  color: #52057b;
}


.section-form form input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  height: 40px;
  font-family: 'Oswald',
    sans-serif;
  outline: 0;
}

.section-form form input[type="submit"] {
  font-size: 18px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}

.section-form form input[type="submit"]hover {
  opacity: 0.8;
}