* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}


header {
  background-color: #333;
  padding: 10px 0;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .brand {
  font-size: 32px;
  text-decoration: none;
  color: white
}

nav ul {
  display: flex;
  list-style: none;
}

/* Page User */
nav ul#user_info {
  display: none;
  align-items: center;
}

nav ul#user_info li {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}

nav ul#user_info li i {
  color: white;
}

nav ul#user_info li .badge {
  color: white;
  background: crimson;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: -12px;
  font-size: 15px;
  text-align: center;
  line-height: 19px;
  display: none;
}



nav ul#user_info .carts-products {
  position: absolute;
  background: #e1e1e1;
  width: 200px;
  transform: translate(-40%, 0);
  top: 45px;
  border: 1px solid black;
  padding: 10px;
  z-index: 100;
  opacity: .8;
  display: none;
}

nav ul#user_info .carts-products a {
  color: white;
  background: red;
  padding: 10px;
  display: block;
  cursor: pointer;
  text-align: center;
}

/* Page User */

nav ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  min-width: 50px;
  margin: 0 5px;
  padding: 5px;
}


/* ==============>>> Form <<<================= */

.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  background: #bc6ff1;
  padding: 20px;
}

.section-form h2 {
  font-size: 30px;
  letter-spacing: 2px;
  color: #52057b;
}


.section-form form input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  height: 40px;
  font-family: 'Oswald',
    sans-serif;
  outline: 0;
}

.section-form form input[type="submit"] {
  font-size: 18px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}

.section-form form input[type="submit"]hover {
  opacity: 0.8;
}


/* Products */

.section-home {
  margin-top: 85px;
}

.products {
  margin: 16px 0;
}


.product-item {
  width: 20%;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 30px 25px 30px 25px
}


.product-item-img {
  width: 100%;
}

.product-item-des {
  margin: 10px 0;
  text-align: center;
}

.product-item-actions {
  display: flex;
  justify-content: space-between;
}

.product-item-actions .add-to-cart {
  font-size: 15px;
  background: red;
  color: white;
  border: 0;
  padding: 10px 15px;
  font-family: 'Oswald',
    sans-serif;
  cursor: pointer;

}

.product-item-actions .favorite {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}